@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

/* Universal */

* {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
}

.section {
    padding: 0 60px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.a-font {
  font-family: "Arimo", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

button {
    position: relative;
    padding: 12px;
    background-color: #1D4ED8;
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    cursor: pointer;
    transition: all 0.2s ease;
}button::before{
    transition: all 0.2s ease;
    width: 0%;
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 70%);
    z-index: 1;
}button:hover::before {
    width: 100%;
    z-index: 1;
}button span {
    color: white;
    z-index: 10;
}

ul {
    list-style-position: inside;
    padding-left: 4px;
} li {
    margin-bottom: 10px;
}

.hr {
    max-width: 100%;
    background-color: grey;
    height: 1px;
}

/* Navbar */

#navbar {
    justify-content: space-between;
    position: relative;
}

.navbar {
    max-width: 1320px;
    margin: auto;
    padding: 24px 60px;
    height: 50px;
}

.navbar img {
    height: 44px;
}

.navbar>.container {
    gap: 24px;
}

.navbar .links {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.navbar .btn-holder {
    padding: 4px 4px 3px;
    height: 48px;
    width: 188px;
}
.navbar .btn-holder button {
    font-size: 1rem;
}

.navbar a{
    color: #575757;
    text-decoration: none;
}

.main-bg{
    position: relative;
    display: inline-block;
}

/* Hero */

#hero {
    position: relative;
    height: 786px;
}

#hero {
    width: 100%;
    background-image: url(assets/banner.jpg);
    background-position: center;
    background-size: cover;
}

#hero::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%,rgba(0, 0, 0, 0.3) 30%, rgba(0, 0, 0, 0) 70%);
    z-index: 1;
}#hero::after{
    content: "";
    position: absolute;
    inset: 0;
    background-image: linear-gradient(230deg,rgba(0, 0, 0, 0) 42%,rgba(0, 0, 0, 0.88) 87%);
    /* figuring out this gradiant angle was tough */
    z-index: 1;
}

.main {
    justify-content: space-between;
    margin: 136px auto 50px;
    position: absolute;
    top: 0;
    bottom: 32px;
    color: white;
    z-index: 10;
    flex-direction: column;
}

.main>div{
    flex-direction: column;
}

#hero .ct-btn{
    width: 282px;
    height: 74px;
    font-size: 1.5rem;
}

.main h1 {
    margin-bottom: 16px;
    font-size: 80px;
    font-weight: 700;
    letter-spacing: -3.2px;
    
}

.main div p {
    font-size: 22px;
    font-weight: 300;
}

.main .container {
    margin-left: 64px;
}
.main .container p{
    margin-left: 12px;
    /* Ei displacement ber korte korte komor venge hospital e admit hote holo 🙂, hospital er bill apnara diben */
}

/* Speakers */

#speakers {
    flex-direction: column;
    margin-bottom: 54px;
}

.speaker-cards {
    text-align: center;
    max-width: 1440px;
    padding: 80px 60px;
}

.speaker-cards h1 {
    font-size: 56px;
    font-weight: 700;
    margin-bottom: 56px;
}

.speaker-set {
    display: grid;
    gap: 20px;
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr;
}

.speaker-card {
    width: 100%;
    border-radius: 12px;
    border: 1px solid #E5E7EB;
}

.speaker-card img {
    width: 100%;
    border-radius: 12px 12px 0 0;
}

.speaker-card>div {
    display: flex;
    align-items: start;
    gap: 8px;
    padding: 24px;
    flex-direction: column;
}

.speaker-cards h1 {
    color: #000102;
}

.speaker-card h5 {
    font-weight: 600;
    color: #2563EB;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.3px;
}

.speaker-card h6 {
    color: #575757;
    font-size: 14px;
    line-height: 21px;
}

.speaker-card h3 {
    font-weight: 700;
    color: #0D1B2A;
    font-size: 20px;
    line-height: 27.5px;
}

/* Prices */

#pricing > .container {
    flex-direction: column;
    max-width:1440px;
    width: 100%;
}

#pricing h1 {
    font-size: 48px;
    font-weight: 700;
    margin-bottom: 12px;
}

#pricing h4 {
    font-size: 16px;
    font-weight: 400;
}

.prices {
    margin: 0 60px 130px;
    padding: 48px 0 0 0;
    max-width: 1160px;
    width: 100%;
    gap: 24px;
}

.price {
    width: 100%;
    border: 1px solid #E5E7EB;
    border-radius: 12px;
    padding: 32px;
    display: flex;
    gap: 20px;
    flex-direction: column;
} .p2 {
    border-color: #0D1B2A;
    background-color: #0D1B2A;
} .p3 {
    background-color: #F8F9FB;
}

.price button {
    padding: 11px 0;
    font-size: 14px;
    font-weight: 600;
    border-radius: 8px;
}

/* h5 h2 h5 li */
.price h5{
    color: #888888;
    font-size: 13px;
    font-weight: 600;
}.price h5:nth-child(1){
    letter-spacing: 0.32px;
} .p2 h5{
    color: rgba(255, 255, 255, 0.5);
} .p2 h5:nth-child(1) {
    color: #93C5FD;
}

.price h2 {
    color: #0D1B2A;
    font-size: 44px;
    letter-spacing: 0;
} .p2 h2 {
    color: white;
}

.price li {
    color: #333333;
    font-size: 14px;
} .p2 li {
    color: rgba(255, 255, 255, 0.8);
}

.prices li::marker {
    color: #2563EB;
}

/* button */
.p1 button {
    border: 1px solid #2563EB;
    color: #2563EB;
    background: none;
}

.p3 button {
    border: 1px solid #0D1B2A;
    color: #0D1B2A;
    background: none;
}

/* AI */



/* Footer */

#footer {
    margin-top: 128px;
    padding: 56px 60px 68px;
    background-color: #0D1B2A;
    color: rgba(255, 255, 255, 0.4);
}

#footer>div {
    justify-content: space-between;
    padding: 0 60px;
}

.last {
    gap: 24px;
}

.last a {
    color: rgba(255, 255, 255, 0.4);
    text-decoration: none;
}